<!-- <div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
      <nx-solsig-xyz></nx-solsig-xyz>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/lazy/lazy">lazy</a></li>
        <li><a routerLink="/login">login</a></li>
        <li><a routerLink="/entrar">entrar</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a href="https://duard.xyz/">&copy; 2020 - duard.xyz</a>
  </footer>

</div> -->
<nx-solsig-layout-one></nx-solsig-layout-one>
<nx-solsig-xyz></nx-solsig-xyz>
